#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define SCROLL_LAYER 3

/ {
    combos {
        compatible = "zmk,combos";

        bt_clear {
            bindings = <&bt BT_CLR>;
            key-positions = <28 29>;
            layers = <2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&none  &none      &none         &none             &none           &none                                             &none        &none  &none      &none     &none            &none
&none  &kp Q      &kp W         &kp E             &kp R           &kp T                                             &kp Y        &kp U  &kp I      &kp O     &kp P            &none
&none  &kp A      &kp S         &kp D             &kp F           &kp G        &none          &none                 &kp H        &kp J  &lt 3 K    &kp L     &lt 2 SEMICOLON  &none
&none  &kp Z      &kp X         &kp C             &kp V           &kp B        &kp LG(SPACE)  &kp LG(LS(NUMBER_5))  &kp N        &kp M  &kp COMMA  &kp DOT   &lt 4 SLASH      &none
&none  &kp LCTRL  &kp LEFT_ALT  &kp LEFT_COMMAND  &kp LEFT_SHIFT  &lt 2 SPACE  &kp TAB        &kp BACKSPACE         &lt 1 ENTER  &none  &none      &kp RGUI  &kp LC(SPACE)    &none
            >;
        };

        layer_1 {
            bindings = <
&trans  &trans      &trans      &trans      &trans      &trans                          &trans     &trans                &trans                 &trans             &trans            &trans
&trans  &kp N1      &kp N2      &kp N3      &kp N4      &kp N5                          &kp N6     &kp N7                &kp N8                 &kp N9             &kp N0            &trans
&trans  &kp LS(N1)  &kp LS(N2)  &kp LS(N3)  &kp LS(N4)  &kp UNDERSCORE  &trans  &trans  &kp MINUS  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp DOUBLE_QUOTES  &kp SINGLE_QUOTE  &trans
&trans  &kp LS(N5)  &kp LS(N6)  &kp LS(N7)  &kp LS(N8)  &kp PLUS        &trans  &trans  &kp EQUAL  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp LEFT_BRACE     &kp RIGHT_BRACE   &trans
&trans  &trans      &trans      &trans      &trans      &trans          &trans  &trans  &trans     &trans                &trans                 &trans             &trans            &trans
            >;
        };

        layer_2 {
            bindings = <
&none  &none  &none  &none                 &none                  &none                     &none     &none      &none     &none          &none  &none
&none  &none  &none  &none                 &none                  &none                     &none     &none      &none     &none          &none  &none
&none  &none  &none  &kp LA(LG(LEFT))      &kp LG(LA(RIGHT))      &none  &none       &none  &mkp MB4  &mkp MB1   &mkp MB2  &kp LG(W)      &none  &none
&none  &none  &none  &kp LG(LEFT_BRACKET)  &kp LG(RIGHT_BRACKET)  &none  &none       &none  &mkp MB5  &kp LG(T)  &none     &kp LG(LS(T))  &none  &none
&none  &none  &none  &none                 &none                  &none  &kp ESCAPE  &none  &none     &none      &none     &none          &none  &none
            >;
        };

        layer_3 {
            bindings = <
&none  &none  &none  &none  &none  &none                         &none  &none         &none         &none         &none         &none
&none  &none  &none  &none  &none  &bt BT_CLR_ALL                &none  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &none
&none  &none  &none  &none  &none  &none           &none  &none  &none  &none         &none         &none         &none         &none
&none  &none  &none  &none  &none  &none           &none  &none  &none  &none         &none         &none         &none         &none
&none  &none  &none  &none  &none  &none           &none  &none  &none  &none         &none         &none         &none         &none
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans    &trans    &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans    &trans    &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans    &kp UP    &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp LEFT  &kp DOWN  &kp RIGHT  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans     &trans  &trans
            >;
        };

        layer_5 {
            bindings = <
&trans  &trans         &trans  &trans                &trans                 &trans                  &trans  &trans  &trans  &trans  &trans             &trans
&trans  &trans         &trans  &trans                &trans                 &trans                  &trans  &trans  &trans  &trans  &trans             &trans
&trans  &kp GRAVE      &trans  &kp LA(LG(LEFT))      &kp LG(LA(RIGHT))      &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp BACKSLASH      &trans
&trans  &kp LS(GRAVE)  &trans  &kp LG(LEFT_BRACKET)  &kp LG(RIGHT_BRACKET)  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp LS(BACKSLASH)  &trans
&trans  &trans         &trans  &trans                &trans                 &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans             &trans
            >;
        };
    };
};
